In [110]:
import pandas as pd
import re

In [111]:
data = pd.read_csv("Dataset_-_Dataset.csv")
data.head()

,Product,Country,Variety,Grades,Region,2020-11-16,2020-11-09,2020-11-02,2020-10-26,2020-10-19,...,2018-01-29,2018-01-22,2018-01-15,2018-01-08,2018-01-01,2017-12-25,2017-12-18,2017-12-11,2017-12-04,2017-11-27
0,Avocado (#99),Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,"Pedro Aguirre Cerda, Santiago",4.15,4.34,4.36,4.59,4.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Avocado (#99),Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,"La Calera, Quillota",5.05,9.41,4.22,3.79,4.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Avocado (#99),Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,Araucania,5.35,4.41,4.38,4.56,4.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Avocado (#99),Chile,Avocado / Variety / Hass,Avocado / Grade / First Quality,Araucania,5.67,5.57,4.69,5.09,4.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Avocado (#99),Chile,Avocado / Variety / Hass,Avocado / Grade / First Quality,"La Calera, Quillota",4.81,4.82,5.23,4.63,4.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Product col의 요소 분리, Variety, Grades에서의 필터링 및 추출, Region 정리, 날짜의 정렬이 필요해보인다

먼저 Product col을 Preprocessing 진행

In [112]:
data["Product"] = data["Product"].str.findall(r'^(\D+) \(#(\d+)\)$')
data.head()

,Product,Country,Variety,Grades,Region,2020-11-16,2020-11-09,2020-11-02,2020-10-26,2020-10-19,...,2018-01-29,2018-01-22,2018-01-15,2018-01-08,2018-01-01,2017-12-25,2017-12-18,2017-12-11,2017-12-04,2017-11-27
0,"[(Avocado, 99)]",Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,"Pedro Aguirre Cerda, Santiago",4.15,4.34,4.36,4.59,4.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[(Avocado, 99)]",Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,"La Calera, Quillota",5.05,9.41,4.22,3.79,4.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[(Avocado, 99)]",Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,Araucania,5.35,4.41,4.38,4.56,4.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[(Avocado, 99)]",Chile,Avocado / Variety / Hass,Avocado / Grade / First Quality,Araucania,5.67,5.57,4.69,5.09,4.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[(Avocado, 99)]",Chile,Avocado / Variety / Hass,Avocado / Grade / First Quality,"La Calera, Quillota",4.81,4.82,5.23,4.63,4.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
data["Product_Name"] = data["Product"].apply(lambda x : x[0][0])
data["Product_Number"] = data["Product"].apply(lambda x : x[0][1])
data.drop(["Product"], axis = 1, inplace = True)
data.head()

,Country,Variety,Grades,Region,2020-11-16,2020-11-09,2020-11-02,2020-10-26,2020-10-19,2020-10-12,...,2018-01-15,2018-01-08,2018-01-01,2017-12-25,2017-12-18,2017-12-11,2017-12-04,2017-11-27,Product_Name,Product_Number
0,Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,"Pedro Aguirre Cerda, Santiago",4.15,4.34,4.36,4.59,4.74,4.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avocado,99
1,Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,"La Calera, Quillota",5.05,9.41,4.22,3.79,4.51,3.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avocado,99
2,Chile,Avocado / Variety / Hass,Avocado / Grade / Second Quality,Araucania,5.35,4.41,4.38,4.56,4.14,4.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avocado,99
3,Chile,Avocado / Variety / Hass,Avocado / Grade / First Quality,Araucania,5.67,5.57,4.69,5.09,4.81,4.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avocado,99
4,Chile,Avocado / Variety / Hass,Avocado / Grade / First Quality,"La Calera, Quillota",4.81,4.82,5.23,4.63,4.83,5.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avocado,99

의도대로 Product_Name, Product_Number가 신규 생성되었다

Variety와 Grade의 경우, 가장 마지막에 기재된 항목만을 데이터로 가져야 종속성을 해치지 않으면서 atomic을 가질 수 있을 것으로 보인다

In [114]:
data["Variety"] = data.Variety.str.split("/ ").str[-1]
data["Grades"] = data.Grades.str.split("/ ").str[-1]
data.head()

,Country,Variety,Grades,Region,2020-11-16,2020-11-09,2020-11-02,2020-10-26,2020-10-19,2020-10-12,...,2018-01-15,2018-01-08,2018-01-01,2017-12-25,2017-12-18,2017-12-11,2017-12-04,2017-11-27,Product_Name,Product_Number
0,Chile,Hass,Second Quality,"Pedro Aguirre Cerda, Santiago",4.15,4.34,4.36,4.59,4.74,4.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avocado,99
1,Chile,Hass,Second Quality,"La Calera, Quillota",5.05,9.41,4.22,3.79,4.51,3.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avocado,99
2,Chile,Hass,Second Quality,Araucania,5.35,4.41,4.38,4.56,4.14,4.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avocado,99
3,Chile,Hass,First Quality,Araucania,5.67,5.57,4.69,5.09,4.81,4.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avocado,99
4,Chile,Hass,First Quality,"La Calera, Quillota",4.81,4.82,5.23,4.63,4.83,5.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Avocado,99

Region은 일관성이 없게 수집된 것을 볼 수 있다. ,를 delimeter로 보고, (A, B) 구성일 경우 B가 더 큰 개념인 것을 볼 수 있는데, B가 존재하지 않는 경우도 있다. '

일관성을 위해 (A, B) 구성으로 사용할 지, Dallas, Texas의 경우 Texas만 사용할 지 등에 대해 일관된 Rule이 필요해 보인다.
만약 (A, B) 구성이 반드시 필요하다면, 소분류 지역과 대분류 지역을 mapping한 Table을 활용해 (A, B)와 같이 처리해 줄 수 있을 것으로 보인다
detail한 처리의 코드보다는 접근 방법을 보는 것이므로 skip

대략적인 Feature들을 cleansing 했으므로 col중 날짜를 포함하는 column들을 정렬해서 가독성을 증가시킨다

In [115]:
data = data[["Product_Name", "Product_Number", "Country", "Variety", "Grades", "Region"] + sorted(data.columns[4:-2])]
data.head()

,Product_Name,Product_Number,Country,Variety,Grades,Region,2017-11-27,2017-12-04,2017-12-11,2017-12-18,...,2020-09-14,2020-09-21,2020-09-28,2020-10-05,2020-10-12,2020-10-19,2020-10-26,2020-11-02,2020-11-09,2020-11-16
0,Avocado,99,Chile,Hass,Second Quality,"Pedro Aguirre Cerda, Santiago",NaN,NaN,NaN,NaN,...,4.91,4.47,4.17,3.91,4.34,4.74,4.59,4.36,4.34,4.15
1,Avocado,99,Chile,Hass,Second Quality,"La Calera, Quillota",NaN,NaN,NaN,NaN,...,4.68,4.76,4.24,4.11,3.91,4.51,3.79,4.22,9.41,5.05
2,Avocado,99,Chile,Hass,Second Quality,Araucania,NaN,NaN,NaN,NaN,...,4.83,4.47,4.93,4.53,4.56,4.14,4.56,4.38,4.41,5.35
3,Avocado,99,Chile,Hass,First Quality,Araucania,NaN,NaN,NaN,NaN,...,5.41,5.00,4.51,4.75,4.69,4.81,5.09,4.69,5.57,5.67
4,Avocado,99,Chile,Hass,First Quality,"La Calera, Quillota",NaN,NaN,NaN,NaN,...,5.25,4.76,5.08,4.68,5.12,4.83,4.63,5.23,4.82,4.81